
h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}
body{
    max-width:1600px;
    font-family: "Raleway", sans-serif;
}
/* sidebar */
.w3-sidebar{
    z-index:3;width:300px;
}
.w3-round{
    width:45%;
}
.w3-panel{
    display: flex;
    
}
/* Overlay  */
#myOverlay{
    cursor: pointer;

}


/* Header  */
.w3-circle{
    width:65px;
}
/* .w3-section {
    display:flex;
} */


/* First Photo GriD*/
.w3-hover-opacity{
    width:100%;

}
/* second Photo GriD*/
.w3-col img {
    width:100%;


}
/* about*/
.about{
    margin-bottom:32px;

}
/* skills*/
.s1{
width:95%;
}
.s2{
    width:85%;

}
.s3{
    width:80%;

}

/* pricing*/
.pricing{
    margin:0 -16px;
    display:flex;
}
/* contact*/
.contact{
    margin:0 -16px;
    display:flex;
}
/* footer*/
.w3-left{
    width:50px;
}





